.container_produtos{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.container_produtos h3{
    margin: 30px;
}

.container_produtos p{
    margin-bottom: 30px;
}

.container_divs{
    margin: 0 auto;
    width: 1024px;
    display: flex;
    flex-wrap: wrap;
}

.container_divs div{
    width: 400px;
    background-color: #f6f6f6 ;
    font-weight: bolder;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px -4px  #000000 ;
    margin: 0px 50px 15px;
}

.imagens{
    width: 200px;
    height: 100px;
    margin: 20px;
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .container_divs{
        flex-direction: column;
    }
}