.topo{
    width: 100%;
    max-width: 1024px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.menu{
    text-decoration: none;
    margin-right: 20px;
}

.menu p{
    text-decoration: none;
    font-weight: bolder;
    color: black;
    display: inline;
    margin: 30px;

}

.img_topo{
    width: 200px;
    height: 50px;
    margin-left: 70px;
}


@media screen and (min-width: 481px) and (max-width: 768px){
    .img_topo{
        width: 150px;
        margin-left: 20px;
    }

    .menu p{
        margin: 0px;
    }

}