.container_sobre{
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}

.container_sobre h3{
    margin: 25px;
}

.container_sobre p{
    line-height: 30px;
    margin-bottom: 30px;
}

.container_divs{
    width: 800px;
    height: 800px;
    display: flex;
    margin-left: 20%;
    
}

.container_divs h4{
    padding: 50px;
}

.container_divs p{
    margin-bottom: 100px;
}

.container_divs div{
    width: 400px;
    height: 230px;
}

.imagens{
    width: 400px;
    height: 230px;
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .container_divs{
        width: 400px;
        height: 800px;
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .container_divs div{
    width: 400px;
    height: 200px;
}

.imagens{
    width: 400px;
    height: 200px;
}


.container_divs h4{
    padding: 25px;
}

.container_divs p{
    margin-bottom: 50px;
}

}