.secao_contatos{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding: 100px 20px;
    font-weight: bold;
    background-color: #05031b;
    color: #fff;
}

.secao_contatos h3{
    font-size: 30px;
}

.secao_contatos p{
    margin: 30px;
}

.container_divs{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    border: 3px solid ;
    border-radius: 10px;
    padding: 5px 30px;
}

.container h3{
    margin: 5px;
    font-size: 25px;
}

.container_imagens{
    display: flex;
    align-items: center;
    margin: 5px;
}

.imagens{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}