.container_capa{
    width: 100%;
    height: 90vh;
    background-image: url(../../../public/capa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    color: #fff;
    text-align: center;
    align-items: start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 200px;
    margin-left: 130px;
    gap: 20px;
}

.container p{
    font-weight: bolder;
}


@media screen and (min-width: 481px) and (max-width: 768px) {
  .container_capa{
    height: 50vh;
  }  
 .container{
    padding-top: 100px;
    margin-left: 30px;
 }
    
.container h1{
    font-size: 100%;
}
}